body{
     border: 2px solid black;
     background-color: rgb(212, 211, 211);
     }
p{
     margin: auto;
}
h1 { text-align:center;
        margin: 2% 23%;
          }
.Coordonées {text-align: center;
            }
#interets {margin-left: -2px;
}

th {text-align: center;
}
.sole {width: 33%;
       
       }
.langues {width: 250px ;}
#full {background-color: white;
}
#titre {background-color: white;
border: 2px solid black;}
#pro {border: 2px solid black;
      background-color: rgb(228, 225, 225);}

